  .contenedor {
  padding: 1em;
  display: grid;
  /* grid-template-columns:  25% 25% 25% 25%; */
  /* grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 300px 1fr 200px; Se crean filas implicitas al terminar la condicional */
  grid-template-columns: 200px 100px auto;
  /* grid-template: 300px 1fr 200px / 1fr 1fr 1fr 1fr; */
  grid-gap: 20px;
  grid-auto-columns: 50px;
  grid-auto-rows: 100px;
}

.elemento {
  background-color: rgba(250, 250, 250, 0.8);
  padding: 1em;
  border-radius: 10px;
  text-align: center;
  color: #004e92;
  font-weight: 600;
  font-style: italic;
  font-size: 1.2em;
  line-height: 1.4;
}