:root {
  --gap: 20px;
  --col12: repeat(12, minmax(0, 1fr)); 
  --col6:  repeat(6, minmax(0, 1fr))

}
.contenedor {
    padding: 1em;
    display: grid;
    grid-template-columns: var(--col12); /* Al indicar que la columna tiene un minimo ancho de 0, liberamos al grid, de la obligación de crecer hasta tener la anchura del propio contendo*/
    grid-gap: var(--gap)
    
  }

.elemento {
  background-color: rgba(250, 250, 250, 0.8);
  padding: 1em;
  border-radius: 10px;
  text-align: center;
  color: #004e92;
  font-weight: 600;
  font-style: italic;
  font-size: 1.2em;
  line-height: 1.4;
}

.elm1 {
  grid-column: span 2;
}
.elm2 {
  grid-column: span 9; 
}

.elm4 { /* anidación */
  grid-column: span 6;
  display: grid;
  grid-template-columns: var(--col6);
  grid-gap: var(--gap); 
  padding: 0;
}